.App {
  text-align: center;
}
.Profile {
  text-align: center;
  background-color: rgb(206, 213, 223);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Card {
  background-color: white;
  padding: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}
.NewCard {
  height: 200px;
  width: 200px;
  background-color: #fff;
  border: 3px solid rgb(255, 45, 45);
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}
#image {
  border: 3px solid rgb(255, 45, 45);
  border-radius: 50%;
}
.Dropzone {
  height: 200px;
  width: 200px;
  background-color: #fff;
  border: 3px dashed rgb(255, 45, 45);
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}
.Icon {
  opacity: 0.3;
  height: 54px;
  width: 54px;
}
.FileInput {
  display: none;
}
.Highlight {
  background-color: rgb(188, 185, 236);
}


















.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .ui.dimmer, .card-img, .ui.medium.image.dimmable, .ui.red.card.card {
 
  border-radius: 60px;
  height: 70%;
} */
